<%= form_tag sessions_path, id: "login" do %>
	<fieldset>
		<legend>Login</legend>
		<p>
			<%= label_tag :name %>
			<%= text_field_tag :name, params[:name] %>
		</p>
		<p>
			<%= label_tag :password %>
			<%= password_field_tag :password %>
		</p>
		<p>
			<%= submit_tag "Log in" %>
		</p>
	</fieldset>
<% end %>