<%= form_for @user do |f| %>
	<%= check_for_errors @user %>
	<fieldset>
		<legend>Edit User: <%= @user.name %></legend>
		<%= render partial: "user_fields", locals: { f: f } %>
		<p>
			<%= f.label :password, "New Password" %> 
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.label :password_confirmation %> 
			<%= f.password_field :password_confirmation %>
		</p>
	</fieldset>
	
	<fieldset>
		<%= f.submit %>
	</fieldset>
<% end %>

<p>
	<%= link_to "Delete User", @user, method: 'delete', confirm: "Are you sure you want to delete the user #{@user.name}?", id: "delete" %>
</p>