<p>
	<h2><%= post.title %></h2>
	<em>Posted by <%= post.user.name %> on <%= pretty_date(post.created_at) %></em> [<%= link_to "edit", edit_post_path(post) %>]<br />
	<%= post.content.html_safe %>
</p>