<!DOCTYPE html>
<html>
  <head>
    <title><%= AppConfig["company"]["name"] %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%# javascript_include_tag "html5Insert" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="allSVG">
      <svg version="1.1" id="stars" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
        <g id="starsGroup"></g>
      </svg>
      <div id="title"><span class="small">the</span> <span class="big">expandable web</span></div>
    </div>
	
	<%= render 'shared/content' %>
	
  </body>
</html>
