<!DOCTYPE html>
<html>
  <head>
    <title><%= AppConfig["company"]["name"] %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5Insert" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>

	<%= render 'shared/content' %>
	
  </body>
</html>
